body {
  font-family: Raleway, Tahoma, Arial, sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  border-radius: 100%;
  list-style: circle;
}

.header__link {
  display: block;
  border-bottom: 1px solid #000;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  justify-content: center;
  align-items: baseline;
  max-width: 240px;
  margin-right: 35px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  unicode-bidi: normal;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
  background-origin: content-box;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  background: rgb(0 0 0 / 0.6);
}

.cover__title {
  z-index: 10;
  padding: 165px 50px 135px;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.25;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.aligned-text_center {
  line-height: normal;
  text-align: center;
}

.aligned-text_right {
  line-height: normal;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 11;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 79px;
  align-self: flex-end;
  width: 100%;
  padding-bottom: 50px;
}

.cover__description-text {
  flex: 1;
  padding-left: 78px;
  /* или - word-spacing: 18px; */
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-align: justify;
  text-transform: uppercase;
  text-align-last: justify;
}

.cover__description-text .letter-spacing-extended {
  letter-spacing: 1.1em;
}

.bet-button {
  width: 256px;
  height: 51px;
  margin-right: 50px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  padding: 179px 24px 0;
}

.lots__heading {
  margin-left: 40px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 27px;
  padding-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 51px 40px 48px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}


.card__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.card .letter-spacing-extended {
  letter-spacing: 0.13em;
}

.lots__look-more-link {
  margin-top: 30px;
  margin-left: 40px;
  border-bottom: 1px solid #000;
  color: #000;
  font-weight: 400;
  font-size: 20px;
}

.about {
  padding: 146px 24px 0 24px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin-top: 35px;
  margin-left: 47px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding-top: 136px;
  padding-bottom: 100px;
  color: #000;
  font-weight: 700;
  font-size: 40px;
  text-align: start;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.about .letter-spacing-extended {
  letter-spacing: 0.01em;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 180px 50px 80px 50px;
  color: #000;
  font-weight: 400;
  font-size: 18px;
}

.footer__link {
  border-bottom: 1px solid #000;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: inline-block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  display: block;
  width: 100%;
  height: 100%;
}
